@model IEnumerable<OpenOrderFramework.Models.Token>

@{
    ViewBag.Title = "TokenStatus";
}

<h2>TokenStatus</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TokenID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TokenDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TokenSlot)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TokenID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TokenDT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TokenSlot)
    </td>
   
</tr>
    }

</table>



<br>
<br />

